 <!-- Customized Footer -->
 <div class="footer">
    <footer>
        <p>©Copyright2021 Crypto Crest | Fall 2021 | Comp229</p>
    </footer>
    </div>       
</div>
</div>	
</div>	
</div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        var getTitle = "<%= title %>";
    </script>
    <script src="/javascripts/app.js"></script>    
</body>
</html>