<app-header></app-header>
<!-- Content for the Add_Edit page -->
<div class="container" style="background-color: #b3e6ff;height: 600px;">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 style= "text-align: center;" style="margin-top: 20px;">{{editing ? "Edit" : "Add a new"}} survey</h1>
            <!-- form to enter survey info -->
            <form novalidate #form="ngForm" (ngSubmit)="save(form)" style="margin-top: 20px;">
                    <div class="form-group">
                        <input type="hidden"
                            name="id"
                            [(ngModel)]="item._id"
                        >
                        <label for="itemTextField">Survey Name</label>
                        <input type="text" class="form-control"
                            id="itemTextField"
                            placeholder="Enter the Item Name"
                            name="item" 
                            [(ngModel)]="item.item"
                            required>
                    </div>
                <br />
                    <div class="form-group">
                        <label for="QtyTextField">No. of questions</label>
                        <input type="number" class="form-control"
                            id="QtyTextField"
                            placeholder="00"
                            name="qty" 
                            [(ngModel)]="item.qty"
                            required>
                    </div>
                <br />
                    <div class="form-group">
                        <label for="statusTextField">Description</label>
                        <input type="text" class="form-control"
                            id="statusTextField"
                            placeholder="Enter a status"
                            name="status" 
                            [(ngModel)]="item.status"
                        >
                    </div>
                <br/>
                <!-- Submit Button -->
                <button class="btn btn-primary" type="submit" style="margin-right: 10px;">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                <!-- Cancel Button -->
                <a routerLink="/survey/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>